@import "tailwindcss";
:root {
  --color-primary: #ffffff;
  --color-secondary: #f5f5f5;
  --color-accent: #3b82f6;
  --color-heading: #111827;
  --color-subheading: #374151;
  --color-description: #6b7280;
}

* {
  font-display: swap;
}
