@import "tailwindcss";
:root {
  --color-primary: #ffffff;
  --color-secondary: #f5f5f5;
  --color-important: #3b82f6;
  --color-heading: #111827;
  --color-subheading: #374151;
  --color-description: #6b7280;
  --font-heading-mobile: 1.875rem; /* text-3xl */
  --font-heading-desktop: 4.25rem;
  --subheading-font-size: 2xl;
  --trust-badge-font-size: 0.875rem;
  --description-font-size: 1rem;
  --cta-color: #58f0e6;
}

* {
  font-display: swap;
}
